<!-- education section -->
<div class="overflow-x-hidden">
  <div class="py-12 px-8 flex flex-col lg:flex-row lg:justify-evenly gap-y-8 lg:gap-14">

    <!-- description -->
    <div data-aos="fade-down" data-aos-duration="1000" data-aos-anchor-placement="top-bottom"
      class="w-full lg:w-[30%] text-left">
      <div class="space-y-6 border border-[#565F6F] bg-[#1E293B]/40 rounded-xl p-6
      shadow-[inset_0_5px_14px_rgba(0,0,0,0.65),inset_0_-5px_14px_rgba(255,255,255,0.06)]">
        <h2 class="text-4xl font-bold text-blue-300">Education</h2>

        <div class="space-y-2">
          <h3 class="text-xl font-semibold text-white">OpenClassrooms</h3>
          <p class="text-md text-gray-300 leading-relaxed">janv. 2025 – en cours, Toulouse, France</p>
          <p class="text-md text-gray-300 leading-relaxed no-margin-p">Expert en développement logiciel</p>
          <p class="text-md text-gray-300 leading-relaxed no-margin-p">RNCP 36912 — Niveau 7, Bac +5</p>
        </div>

        <div class="space-y-2">
          <h3 class="text-xl font-semibold text-white">Le Wagon</h3>
          <p class="text-md text-gray-300 leading-relaxed">oct. 2024 – déc. 2024, Toulouse, France</p>
          <p class="text-md text-gray-300 leading-relaxed no-margin-p">Concepteur Développeur d’Applications Web</p>
          <p class="text-md text-gray-300 leading-relaxed no-margin-p">RNCP 39261 — Niveau 6, Bac +3/4</p>
        </div>

        <div class="space-y-2">
          <h3 class="text-xl font-semibold text-white">Langue Onze Toulouse</h3>
          <p class="text-md text-gray-300 leading-relaxed">oct. 2023 – juin 2024, Toulouse, France</p>
          <p class="text-md text-gray-300 leading-relaxed no-margin-p">Cours de français intensif en temps plein</p>
          <p class="text-md text-gray-300 leading-relaxed no-margin-p">Niveau A2 à C1</p>
        </div>
      </div>
    </div>

    <!-- second column with inset shadow panel -->
    <div data-aos="fade-down" data-aos-duration="1000" data-aos-anchor-placement="top-bottom"
      class="w-full lg:w-[50%] text-left flex justify-center">
      <div class="space-y-6">

        <!-- main stack -->
        <div class="space-y-2">
          <h2 class="text-4xl font-bold text-blue-300 mb-6">Main Stack</h2>
          <ul class="flex flex-wrap gap-3">
            <li class="bg-[#3e5068] rounded-full px-4 py-1 text-gray-100 text-sm">Java</li>
            <li class="bg-[#3e5068] rounded-full px-4 py-1 text-gray-100 text-sm">Spring Boot</li>
            <li class="bg-[#3e5068] rounded-full px-4 py-1 text-gray-100 text-sm">Angular</li>
            <li class="bg-[#3e5068] rounded-full px-4 py-1 text-gray-100 text-sm">TypeScript</li>
            <li class="bg-[#3e5068] rounded-full px-4 py-1 text-gray-100 text-sm">SQL</li>
            <li class="bg-[#3e5068] rounded-full px-4 py-1 text-gray-100 text-sm">MySQL</li>
            <li class="bg-[#3e5068] rounded-full px-4 py-1 text-gray-100 text-sm">API REST</li>
            <li class="bg-[#3e5068] rounded-full px-4 py-1 text-gray-100 text-sm">Hibernate</li>
            <li class="bg-[#3e5068] rounded-full px-4 py-1 text-gray-100 text-sm">Git</li>
          </ul>
        </div>

        <!-- technical scope -->
        <div class="space-y-2">
          <h2 class="text-4xl font-bold text-blue-300 mb-6 mt-8">Technical Scope</h2>
          <ul class="flex flex-wrap gap-3">
            <li class="bg-[#3e5068] rounded-full px-4 py-1 text-gray-100 text-sm">Front-End Development</li>
            <li class="bg-[#3e5068] rounded-full px-4 py-1 text-gray-100 text-sm">Back-End Development</li>
            <li class="bg-[#3e5068] rounded-full px-4 py-1 text-gray-100 text-sm">Full-Stack Projects</li>
            <li class="bg-[#3e5068] rounded-full px-4 py-1 text-gray-100 text-sm">Scripting & Automation</li>
            <li class="bg-[#3e5068] rounded-full px-4 py-1 text-gray-100 text-sm">Test Automation</li>
            <li class="bg-[#3e5068] rounded-full px-4 py-1 text-gray-100 text-sm">Software Architecture Modeling</li>
            <li class="bg-[#3e5068] rounded-full px-4 py-1 text-gray-100 text-sm">UML Diagrams</li>
            <li class="bg-[#3e5068] rounded-full px-4 py-1 text-gray-100 text-sm">Documentation Writing</li>
            <li class="bg-[#3e5068] rounded-full px-4 py-1 text-gray-100 text-sm">Mentoring</li>
            <li class="bg-[#3e5068] rounded-full px-4 py-1 text-gray-100 text-sm">Requirements Analysis</li>
            <li class="bg-[#3e5068] rounded-full px-4 py-1 text-gray-100 text-sm">Code Analysis</li>
            <li class="bg-[#3e5068] rounded-full px-4 py-1 text-gray-100 text-sm">Technical Specification Writing</li>
            <li class="bg-[#3e5068] rounded-full px-4 py-1 text-gray-100 text-sm">Workflow Optimization</li>
          </ul>
        </div>

        <!-- languages -->
        <h2 class="text-4xl font-bold text-blue-300 mb-6 mt-8">Languages</h2>
        <ul class="flex flex-wrap gap-3">
          <li
            class="bg-[#3e5068] rounded-full inline-flex justify-center px-4 py-1 text-gray-100 text-sm min-w-[160px]">
            French — Advanced
          </li>
          <li
            class="bg-[#3e5068] rounded-full inline-flex justify-center px-4 py-1 text-gray-100 text-sm min-w-[160px]">
            German — Bilingual
          </li>
          <li
            class="bg-[#3e5068] rounded-full inline-flex justify-center px-4 py-1 text-gray-100 text-sm min-w-[160px]">
            English — Advanced
          </li>
          <li
            class="bg-[#3e5068] rounded-full inline-flex justify-center px-4 py-1 text-gray-100 text-sm min-w-[160px]">
            Slovak — Native
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>