.skill-tag {
  transition: all 0.2s ease;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  background-color: #3a4a5d; /* #34475a or #2f4052 or #3a4a5d*/
  font-weight: 400;
}
.skill-tag:hover {
  background-color: #4a6280; /* #3e5068 */
  box-shadow: 0 0 0 1px #4a6280; /* #334155 or #374151 or #565F6F*/
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.no-margin-p {
  margin: 0 !important;
}

.less-margin-p {
  margin-top: 8px !important;
}
.education-title {
  text-shadow: 0 1px 2px rgba(0,0,0,0.8);
}