<!-- education section -->
<div class="section-container">
  <div class="py-12 px-8 flex flex-col lg:flex-row lg:justify-evenly gap-y-8 lg:gap-14">

    <!-- description -->
    <div data-aos="fade-down" data-aos-duration="1000" data-aos-anchor-placement="top-bottom" id="education"
      class="w-full lg:w-[35%] text-left">
      <div class="space-y-10 border border-[#565F6F] bg-[#1E293B]/40 rounded-xl px-8 py-10
      shadow-[inset_0_5px_14px_rgba(0,0,0,0.65),inset_0_-5px_14px_rgba(255,255,255,0.06)]">
        <h2 class="text-4xl font-bold text-blue-300 mb-4 tracking-wide">Formation</h2>

        <div class="education-box">
          <h3 class="education-title mt-4">Expert en développement logiciel</h3>
          <p class="text-light-gray less-margin-p">RNCP 36912 — Niveau 7, Bac +5</p>
          <p class="text-dark-gray less-margin-p">OpenClassrooms</p>
          <p class="text-dark-gray no-margin-p">janv. 2025 – en cours, Toulouse, France</p>
        </div>

        <div class="education-box">
          <h3 class="education-title mt-8">Concepteur Développeur d’Applications
            Web</h3>
          <p class="text-light-gray less-margin-p">RNCP 39261 — Niveau 6, Bac +3/4</p>
          <p class="text-dark-gray less-margin-p">Le Wagon</p>
          <p class="text-dark-gray no-margin-p">oct. 2024 – déc. 2024, Toulouse, France</p>

        </div>

        <div class="education-box">
          <h3 class="education-title mt-8">Cours de français intensif (en temps
            plein)</h3>
          <p class="text-light-gray less-margin-p">Niveau A2 à C1</p>
          <p class="text-dark-gray less-margin-p">Langue Onze Toulouse</p>
          <p class="text-dark-gray no-margin-p">oct. 2023 – juin 2024, Toulouse, France</p>

        </div>
      </div>
    </div>

    <!-- technical overview section -->
    <!-- second column with inset shadow panel -->
    <div data-aos="fade-down" data-aos-duration="1000" data-aos-anchor-placement="top-bottom" #technicalOverview
      id="teachnical-overview" class="w-full lg:w-[50%] text-left flex justify-center">
      <div class="space-y-6">

        <div class="content-box">
          <h2 class="text-4xl font-bold text-blue-300 mb-10 tracking-wide">Aperçu technique</h2>
          <!-- main stack -->
          <h2 class="subtitle text-blue-300">Stack principal</h2>

          <div class="stack-box">
            <!-- stack pills container -->
            <ul class="list mt-2">
              <li class="skill-tag stack-tag">Java</li>
              <li class="skill-tag stack-tag">Spring Boot</li>
              <li class="skill-tag stack-tag">Angular</li>
              <li class="skill-tag stack-tag">TypeScript</li>
              <li class="skill-tag stack-tag">SQL</li>
              <li class="skill-tag stack-tag">MySQL</li>
              <li class="skill-tag stack-tag">API REST</li>
              <li class="skill-tag stack-tag">Hibernate</li>
              <li class="skill-tag stack-tag">Git</li>
            </ul>
          </div>
        </div>

        <!-- technical scope -->
        <div class="content-box">
          <h2 class="subtitle text-indigo-300">Compétences</h2>
          <ul class="list">
            <li class="skill-tag scope-tag">
              Développement Back-End
            </li>
            <li class="skill-tag scope-tag">
              Développement Front-End
            </li>
            <li class="skill-tag scope-tag">
              Développement Full-Stack
            </li>
            <li class="skill-tag scope-tag">
              Automatisation et scripting
            </li>
            <li class="skill-tag scope-tag">
              Automatisation des tests
            </li>
            <li class="skill-tag scope-tag">
              Diagrammes UML
            </li>
            <li class="skill-tag scope-tag">
              Modélisation d’architecture logicielle
            </li>
            <li class="skill-tag scope-tag">
              Mentorat
            </li>
            <li class="skill-tag scope-tag">
              Rédaction de spécifications techniques
            </li>
          </ul>
        </div>

        <!-- languages -->
        <div class="content-box">
          <h2 class="subtitle text-[#AFB1F4]">Langues</h2>
          <ul class="list">
            <li class="skill-tag language-tag">
              Français — Courant
            </li>
            <li class="skill-tag language-tag">
              Allemand — Bilingue
            </li>
            <li class="skill-tag language-tag">
              Anglais — Courant
            </li>
            <li class="skill-tag language-tag">
              Slovaque — Natif
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>