<!-- education section -->
<div class="section-container">
  <div class="pt-6 pb-12 md:pb-6 px-0 sm:px-8 flex flex-col lg:flex-row lg:justify-evenly gap-y-8 lg:gap-14">

    <!-- description -->
    <div data-aos="fade-down" data-aos-duration="1000" data-aos-anchor-placement="top-bottom" id="education"
      class="w-full lg:w-[35%] text-left">
      <div class="education-inset">
        <h2 class="text-3xl sm:text-4xl font-bold text-blue-300 mb-4 tracking-wide bg-text-education">{{ 'education.title' | translate }}</h2>

        <div class="education-box">
          <h3 class="education-title mt-4 bg-text-education">{{ 'education.entries.oc_title' | translate }}</h3>
          <p class="text-light-gray less-margin-p bg-text-education">{{ 'education.entries.oc_level' | translate }}</p>
          <p class="text-dark-gray less-margin-p bg-text-education">OpenClassrooms</p>
          <p class="text-dark-gray no-margin-p bg-text-education">{{ 'education.entries.oc_dates' | translate }}</p>
        </div>

        <div class="education-box">
          <h3 class="education-title mt-8 bg-text-education">{{ 'education.entries.wagon_title' | translate }}</h3>
          <p class="text-light-gray less-margin-p bg-text-education">{{ 'education.entries.wagon_level' | translate }}</p>
          <p class="text-dark-gray less-margin-p bg-text-education">Le Wagon</p>
          <p class="text-dark-gray no-margin-p bg-text-education">{{ 'education.entries.wagon_dates' | translate }}</p>
        </div>

        <div class="education-box">
          <h3 class="education-title mt-8 bg-text-education">{{ 'education.entries.french_title' | translate }}</h3>
          <p class="text-light-gray less-margin-p bg-text-education">{{ 'education.entries.french_level' | translate }}</p>
          <p class="text-dark-gray less-margin-p bg-text-education">Langue Onze Toulouse</p>
          <p class="text-dark-gray no-margin-p bg-text-education">{{ 'education.entries.french_dates' | translate }}</p>

        </div>
      </div>
    </div>

    <!-- technical overview section -->
    <div data-aos="fade-down" data-aos-duration="1000" data-aos-anchor-placement="top-bottom" #technicalOverview
      id="teachnical-overview" class="w-full lg:w-[50%] text-left flex justify-center">
      <div class="space-y-6 px-2 sm:px-0">

        <div class="content-box">
          <h2 class="text-3xl sm:text-4xl font-bold text-blue-300 mb-10 tracking-wide bg-text-tech">
            {{ 'education.technical_overview' | translate }}</h2>

          <!-- main stack -->
          <h2 class="subtitle text-blue-300 bg-text-tech">{{ 'education.main_stack' | translate }}</h2>

          <div class="stack-box">
            <ul class="list mt-2">
              <li class="skill-tag stack-tag">Java</li>
              <li class="skill-tag stack-tag">Spring Boot</li>
              <li class="skill-tag stack-tag">Python</li>
              <li class="skill-tag stack-tag">Django</li>
              <li class="skill-tag stack-tag">Hibernate</li>
              <li class="skill-tag stack-tag">SQL</li>
              <li class="skill-tag stack-tag">PostgreSQL</li>
              <li class="skill-tag stack-tag">API REST</li>
              <li class="skill-tag stack-tag">JavaScript</li>
              <li class="skill-tag stack-tag">TypeScript</li>
              <li class="skill-tag stack-tag">Angular</li>
              <li class="skill-tag stack-tag">Git</li>
            </ul>
          </div>
        </div>

        <!-- technical scope -->
        <div class="content-box">
          <h2 class="subtitle text-indigo-300 bg-text-tech">{{ 'education.skills_title' | translate }}</h2>
          <ul class="list">
            <li class="skill-tag scope-tag">
              {{ 'education.competences.backend' | translate }}
            </li>
            <li class="skill-tag scope-tag">
              {{ 'education.competences.frontend' | translate }}
            </li>
            <li class="skill-tag scope-tag">
              {{ 'education.competences.fullstack' | translate }}
            </li>
            <li class="skill-tag scope-tag">
              {{ 'education.competences.automation' | translate }}
            </li>
            <li class="skill-tag scope-tag">
              {{ 'education.competences.testing' | translate }}
            </li>
            <li class="skill-tag scope-tag">
              {{ 'education.competences.uml' | translate }}
            </li>
            <li class="skill-tag scope-tag">
              {{ 'education.competences.architecture' | translate }}
            </li>
            <li class="skill-tag scope-tag">
              {{ 'education.competences.mentoring' | translate }}
            </li>
            <li class="skill-tag scope-tag">
              {{ 'education.competences.specs' | translate }}
            </li>
          </ul>
        </div>

        <!-- languages -->
        <div class="content-box">
          <h2 class="subtitle text-[#AFB1F4] bg-text-tech">{{ 'education.languages_title' | translate }}</h2>
          <ul class="list">
            <li class="skill-tag language-tag">
              {{ 'education.spoken_languages.fr' | translate }}
            </li>
            <li class="skill-tag language-tag">
              {{ 'education.spoken_languages.en' | translate }}
            </li>
            <li class="skill-tag language-tag">
              {{ 'education.spoken_languages.de' | translate }}
            </li>
            <li class="skill-tag language-tag">
              {{ 'education.spoken_languages.sk' | translate }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>