<footer class="footer-section">
  <div class="footer-container">

    <div class="icons-container">
      <!-- linkedin -->
      <a href="https://www.linkedin.com/in/erika-belicova" target="_blank" class="hover:text-blue-500">
        <i class="fab fa-linkedin fa-lg"></i>
      </a>
      <!-- github -->
      <a href="https://github.com/Erika-Belicova" target="_blank" class="hover:text-gray-400">
        <i class="fab fa-github fa-lg"></i>
      </a>
    </div>

    <!-- copyright -->
    <div class="text-base">
      <p>&copy; 2025 Erika Belicová. Tous droits réservés.</p>
    </div>

    <!-- navigation links -->
    <div class="navigation-container">
      <a href="#home" class="navigation-link">Accueil</a>
      <a href="#about" class="navigation-link">À propos</a>
      <a href="#education" class="navigation-link">Formation</a>
      <a href="#skills" class="navigation-link">Technologies</a>
      <a href="#experience" class="navigation-link">Expérience</a>
      <a href="#projects" class="navigation-link">Projets</a>
      <a href="#contact" class="navigation-link">Contact</a>
    </div>

  </div>
</footer>