<!-- about section -->
<div class="section-container">
  <div class="section-layout">

    <!-- particle canvas -->
    <div class="canvas-section">
      <div #canvasContainer class="canvas-container">
        <canvas #particleCanvas class="particle-canvas"></canvas>
      </div>
    </div>

    <!-- description -->
    <div data-aos="fade-down" data-aos-duration="1000" data-aos-anchor-placement="top-bottom" class="text-column">
      <div class="text-content">
        <h2>À propos de moi</h2>

        <div class="text-block" data-aos="fade-down" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
          <h3>Ce que je fais</h3>
          <p>
            Développeuse engagée, j’appuie mon travail sur une expérience variée en développement, architecture et
            tests, pour créer des logiciels fiables, cohérents et bien pensés dans leur ensemble.
          </p>
        </div>

        <div class="text-block" data-aos="fade-down" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
          <h3>Ma philosophie technique</h3>
          <p>
            Je cherche l’équilibre entre innovation et pragmatisme pour un logiciel fonctionnel, tout en suivant les
            bonnes pratiques.
          </p>
        </div>

        <div class="text-block" data-aos="fade-down" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
          <h3>Ce qui m’inspire</h3>
          <p>
            Fascinée par l’espace et l’art abstrait visuel, je trouve dans le code un terrain d’expression créatif où je
            peux résoudre des problèmes complexes tout en apportant une vraie valeur.
          </p>
        </div>

      </div>
    </div>

  </div>
</div>