<!-- about section -->
<div class="section-container">
  <div class="section-layout">

    <!-- particle canvas -->
    <div class="canvas-section">
      <div #canvasContainer class="canvas-container">
        <canvas #particleCanvas class="particle-canvas"></canvas>
      </div>
    </div>

    <!-- description -->
    <div data-aos="fade-down" data-aos-duration="1000" data-aos-anchor-placement="top-bottom" class="text-column">
      <div class="text-content">
        <h2>{{ 'about.title' | translate }}</h2>

        <div class="text-block" data-aos="fade-down" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
          <h3>{{ 'about.what_i_do_title' | translate }}</h3>
          <p>
            {{ 'about.what_i_do_text' | translate }}
          </p>
        </div>

        <div class="text-block" data-aos="fade-down" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
          <h3>{{ 'about.philosophy_title' | translate }}</h3>
          <p>
            {{ 'about.philosophy_text' | translate }}
          </p>
        </div>

        <div class="text-block" data-aos="fade-down" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
          <h3>{{ 'about.inspiration_title' | translate }}</h3>
          <p>
            {{ 'about.inspiration_text' | translate }}
          </p>
        </div>

      </div>
    </div>

  </div>
</div>