<nav class="navbar-section">
  <div class="navbar-container">

    <!-- logo -->
    <a href="#" (click)="scrollToSection('home', $event)" class="logo">
      Portfolio
    </a>

    <!-- navbar -->
    <ul class="navbar-menu">
      <li><a href="#" (click)="scrollToSection('home', $event)" class="navbar-link">Accueil</a></li>
      <li><a href="#" (click)="scrollToSection('about', $event)" class="navbar-link">À propos</a></li>
      <li><a href="#" (click)="scrollToSection('education', $event)" class="navbar-link">Formation</a></li>
      <li><a href="#" (click)="scrollToSection('skills', $event)" class="navbar-link">Technologies & Outils</a></li>
      <li><a href="#" (click)="scrollToSection('experience', $event)" class="navbar-link">Expérience</a></li>
      <li><a href="#" (click)="scrollToSection('projects', $event)" class="navbar-link">Projets</a></li>
      <li><a href="#" (click)="scrollToSection('contact', $event)" class="navbar-link">Contact</a></li>
    </ul>

    <!-- menu mobile button -->
    <button #menuToggle id="menu-toggle" (click)="toggleMenu()" [attr.aria-expanded]="isMenuOpen"
      aria-controls="mobile-menu" aria-label="Toggle menu" class="mobile-menu-button">
      ☰
    </button>

  </div>

  <!-- menu mobile - default: hidden -->
  <div #mobileMenu id="mobile-menu" [ngClass]="{'hidden': !isMenuOpen}" class="mobile-menu-container">
    <a href="#" (click)="scrollToSection('home', $event); closeMenu()" class="mobile-menu-link border-t">Accueil</a>
    <a href="#" (click)="scrollToSection('about', $event); closeMenu()" class="mobile-menu-link">À propos</a>
    <a href="#" (click)="scrollToSection('education', $event); closeMenu()" class="mobile-menu-link">Formation</a>
    <a href="#" (click)="scrollToSection('skills', $event); closeMenu()" class="mobile-menu-link">Technologies &
      Outils</a>
    <a href="#" (click)="scrollToSection('experience', $event); closeMenu()" class="mobile-menu-link">Expérience</a>
    <a href="#" (click)="scrollToSection('projects', $event); closeMenu()" class="mobile-menu-link">Projects</a>
    <a href="#" (click)="scrollToSection('contact', $event); closeMenu()" class="mobile-menu-contact">Contact</a>
  </div>
</nav>