
<!-- work experience section -->
<div class="relative max-w-6xl mx-auto mt-12 px-4 pb-10 overflow-x-hidden">
  <h3 class="text-3xl font-bold text-gray-100 text-center">Work Experience</h3>
  <div class="relative max-w-6xl mx-auto mt-14 px-4">
        
    <!-- timeline layout -->
    <div class="relative max-w-6xl mx-auto mt-8 px-4">
      <!-- timeline center line -->
      <div class="absolute top-[-2rem] left-1/2 w-0.5 bg-gray-400 shadow-xl h-full transform -translate-x-1/2">
      </div>
    
      <!-- timeline items -->
      <div class="space-y-20">
    
        <!-- job 1 -->
        <div class="relative flex items-start">
          <div class="w-full md:w-1/2 pr-8 text-left hidden md:block">
            <div data-aos="fade-right" class="inline-block bg-slate-800 p-6 rounded-lg shadow-xl text-white w-full max-w-md transition-transform hover:-translate-y-1 hover:shadow-2xl">
              <h4 class="text-lg font-semibold text-blue-300">Frontend Developer – Company</h4>
              <p class="text-m text-gray-400">Jan 2020 – Present</p>
              <ul class="p-4 list-disc list-outside text-gray-300 space-y-1">
                <li>Built and maintained Angular apps</li>
                <li>Collaborated closely with UX/UI team</li>
                <li>Focused on responsive and accessible design</li>
              </ul>
              <p class="mt-2 text-gray-400">JavaScript • HTML • CSS • Angular • TypeScript • SQL</p>
            </div>
          </div>

          <!-- timeline dot -->
          <div class="absolute top-[-0.5rem] left-1/2 transform -translate-x-1/2 w-4 h-4 bg-blue-400 rounded-full shadow-[0_4px_12px_rgba(0,0,0,0.20)] flex items-center justify-center z-10">
          </div>

          <!-- mobile card -->
          <div class="w-full md:hidden pl-8">
            <div class="bg-slate-800 p-6 rounded-lg shadow-xl text-white w-full max-w-md transition-transform hover:-translate-y-1 hover:shadow-2xl" data-aos="fade-left">
              <h4 class="text-lg font-semibold text-blue-300">Frontend Developer – Company</h4>
              <p class="text-m text-gray-400">Jan 2020 – Present</p>
              <ul class="p-4 list-disc list-outside text-gray-300 space-y-1">
                <li>Built and maintained Angular apps</li>
                <li>Collaborated closely with UX/UI team</li>
                <li>Focused on responsive and accessible design</li>
              </ul>
              <p class="mt-2 text-gray-400">JavaScript • HTML • CSS • Angular • TypeScript • SQL</p>
            </div>
          </div>
        </div>
    
        <!-- job 2 -->
        <div class="relative flex items-start">
          <div class="w-full md:w-1/2 hidden md:block">
          </div>

          <!-- timeline dot -->
          <div class="absolute top-[-0.5rem] left-1/2 transform -translate-x-1/2 w-4 h-4 bg-blue-400 rounded-full shadow-[0_4px_12px_rgba(0,0,0,0.20)] flex items-center justify-center z-10">
          </div>
          <div class="w-full md:w-1/2 pl-8">
            <div data-aos="fade-left" class="bg-slate-800 p-6 rounded-lg shadow-xl text-white w-full max-w-md transition-transform hover:-translate-y-1 hover:shadow-2xl">
              <h4 class="text-lg font-semibold text-blue-300">Web Developer – Company</h4>
              <p class="text-m text-gray-400">Aug 2018 – Dec 2019</p>
              <ul class="p-4 list-disc list-outside text-gray-300 space-y-1">
                <li>Built and maintained Angular apps</li>
                <li>Collaborated closely with UX/UI team</li>
                <li>Focused on responsive and accessible design</li>
              </ul>
              <p class="mt-2 text-gray-400">JavaScript • HTML • CSS • Angular • TypeScript • SQL</p>
            </div>
          </div>

        </div>
    
        <!-- job 3 -->
        <div class="relative flex items-start">
          <div class="w-full md:w-1/2 pr-8 text-left hidden md:block">
            <div data-aos="fade-right" class="inline-block bg-slate-800 p-6 rounded-lg shadow-xl text-white w-full max-w-md transition-transform hover:-translate-y-1 hover:shadow-2xl">
              <h4 class="text-lg font-semibold text-blue-300">Software Engineer – Company</h4>
              <p class="text-m text-gray-400">Jan 2017 – Aug 2018</p>
              <ul class="p-4 list-disc list-outside text-gray-300 space-y-1">
                <li>Built and maintained Angular apps</li>
                <li>Collaborated closely with UX/UI team</li>
                <li>Focused on responsive and accessible design</li>
              </ul>
              <p class="mt-2 text-gray-400">JavaScript • HTML • CSS • Angular • TypeScript • SQL</p>
            </div>
          </div>

          <!-- timeline dot -->
          <div class="absolute top-[-0.5rem] left-1/2 transform -translate-x-1/2 w-4 h-4 bg-blue-400 rounded-full shadow-[0_4px_12px_rgba(0,0,0,0.20)] flex items-center justify-center z-10">
          </div>
          
          <!-- mobile card -->
          <div class="w-full md:hidden pl-8">
            <div class="bg-slate-800 p-6 rounded-lg shadow-xl text-white w-full max-w-md transition-transform hover:-translate-y-1 hover:shadow-2xl" data-aos="fade-left">
              <h4 class="text-lg font-semibold text-blue-300">Software Engineer – Company</h4>
              <p class="text-m text-gray-400">Jan 2017 – Aug 2018</p>
              <ul class="p-4 list-disc list-outisde text-gray-300 space-y-1">
                <li>Built and maintained Angular apps</li>
                <li>Collaborated closely with UX/UI team</li>
                <li>Focused on responsive and accessible design</li>
              </ul>
              <p class="mt-2 text-gray-400">JavaScript • HTML • CSS • Angular • TypeScript • SQL</p>
            </div>
          </div>

        </div>
    
        <!-- job 4 -->
        <div class="relative flex items-start">
          <div class="w-full md:w-1/2 hidden md:block">
          </div>

          <!-- timeline dot -->
          <div class="absolute top-[-0.5rem] left-1/2 transform -translate-x-1/2 w-4 h-4 bg-blue-400 rounded-full shadow-[0_4px_12px_rgba(0,0,0,0.20)]  flex items-center justify-center z-10">
          </div>
          <div class="w-full md:w-1/2 pl-8">
            <div data-aos="fade-left" class="bg-slate-800 p-6 rounded-lg shadow-xl text-white w-full max-w-md transition-transform hover:-translate-y-1 hover:shadow-2xl">
              <h4 class="text-lg font-semibold text-blue-300">Intern Developer – Company</h4>
              <p class="text-m text-gray-400">Jun 2016 – Dec 2016</p>
              <ul class="p-4 list-disc list-outside text-gray-300 space-y-1">
                <li>Built and maintained Angular apps</li>
                <li>Collaborated closely with UX/UI team</li>
                <li>Focused on responsive and accessible design</li>
              </ul>
              <p class="mt-2 text-gray-400">JavaScript • HTML • CSS • Angular • TypeScript • SQL</p>
            </div>
          </div>
        </div>
      </div>

    </div>  
      
  </div>
</div>