<!-- hide validation error message, when clicking anywhere outside of the submit button -->
<div (click)="resetSubmitted()">
  <div class="contact-container">

    <!-- contact section -->
    <section class="contact-section">
      <div class="section-spacing">

        <!-- two column layout -->
        <div class="column-layout">

          <!-- left column -->
          <div class="space-y-6">
            <div class="space-y-2">

              <!-- section header -->
              <div class="text-left">
                <h2>Contact</h2>
              </div>

              <!-- social links -->
              <h3>Où me trouver</h3>
              <p class="text-info">
                Vous pouvez me retrouver sur les plateformes suivantes :
              </p>
            </div>

            <div class="link-container">
              <!-- linkedin -->
              <a href="https://www.linkedin.com/in/erika-belicova" target="_blank" class="link-box hover:text-blue-400">
                <i class="fab fa-linkedin fa-3x link-icon"></i>
                <div class="link-spacing">
                  <p class="link-name">LinkedIn</p>
                  <p class="link-text">https://<wbr>www.linkedin.com<wbr>/in/<wbr>erika-belicova</p>
                </div>
              </a>

              <!-- github -->
              <a href="https://github.com/Erika-Belicova" target="_blank" class="link-box hover:text-gray-400">
                <i class="fab fa-github fa-3x link-icon"></i>
                <div class="link-spacing">
                  <p class="link-name">GitHub</p>
                  <p class="link-text">https://<wbr>github.com/<wbr>Erika-Belicova</p>
                </div>
              </a>
            </div>

            <p class="description pt-3">
              N’hésitez pas à me contacter via les réseaux sociaux ou par message, je vous répondrai rapidement.
            </p>

          </div>

          <!-- right column -->
          <div class="space-y-6">

            <!-- contact form -->
            <div>
              <h3>Formulaire de contact</h3>
              <p class="description mt-2">
                Pour toute question, signalement de bug, opportunité ou simplement un bonjour, utilisez le formulaire
                ci-dessous.
              </p>
            </div>

            <form #contactForm="ngForm" #contactFormElement (ngSubmit)="sendEmail(contactForm)" class="space-y-4">

              <div class="form-container">
                <!-- name field -->
                <div class="name-box">
                  <input type="text" name="name" ngModel required #name="ngModel" placeholder="Votre nom*"
                    class="name-field" [ngClass]="{
                      'invalid': submitted && name.invalid,
                      'valid': !(submitted && name.invalid)
                    }" />
                  <div *ngIf="submitted && name.invalid" class="validation-error">
                    Le nom est obligatoire.
                  </div>
                </div>

                <!-- email field -->
                <div class="email-container">
                  <input type="email" name="email" ngModel required
                    pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" #email="ngModel"
                    placeholder="Votre email*" class="email-field" [ngClass]="{
                      'invalid': submitted && email.invalid,
                      'valid': !(submitted && email.invalid)
                    }" />
                  <div *ngIf="submitted && email.invalid" class="validation-error">
                    <div *ngIf="email.errors?.['required']">L’email est obligatoire.</div>
                    <div *ngIf="email.errors?.['pattern']">Veuillez entrer une adresse email valide.</div>
                  </div>
                </div>

                <input type="text" name="phone" ngModel class="hidden" autocomplete="off">

              </div>

              <div class="message-container">
                <textarea name="message" ngModel required #message="ngModel" rows="6" placeholder="Votre message*"
                  class="message-field" [ngClass]="{
                    'invalid': submitted && message.invalid,
                    'valid': !(submitted && message.invalid)
                  }"></textarea>
                <div *ngIf="submitted && message.invalid" class="message-validation">
                  Le message est obligatoire.
                </div>
              </div>

              <button type="submit" [disabled]="isSending" class="button-send">
                <span *ngIf="!isSending">Envoyer</span>
                <span *ngIf="isSending">Envoi en cours...</span>
              </button>
            </form>

            <!-- success message notification -->
            <div #notification *ngIf="showSuccess" class="notification-box bg-teal-900">
              <button type="button" class="notification-button" (click)="showSuccess = false"
                aria-label="Close success message">
                ×
              </button>
              Votre message a été envoyé avec succès !
            </div>

            <!-- error message notification -->
            <div #notification *ngIf="showError" class="notification-box bg-red-900">
              <button type="button" class="notification-button" (click)="showError = false"
                aria-label="Close error message">
                ×
              </button>
              Une erreur est survenue. Veuillez réessayer.
            </div>

          </div>

        </div>

      </div>
    </section>

  </div>
</div>