<div class="max-w-6xl mx-auto px-4 mt-16">
  <div class="text-left px-4">
    <h2 class="text-4xl font-bold text-blue-300">Technical skills</h2>
  </div>

  <!-- skills section -->
  <div class="max-w-6xl mx-auto px-4 py-16 flex flex-col lg:flex-row items-start gap-16">

    <!-- columns wrapper -->
    <div class="w-full lg:w-full flex flex-col lg:flex-row gap-4 text-left"> <!-- gap-8-->

      <!-- full-stack section -->
      <div class="relative isolate w-full lg:w-1/3 space-y-6">

        <!-- full stack header - header scroll anker point -->
        <div #fullStackHeader></div>
        <h2 class="text-4xl font-bold text-blue-300">Full-Stack Development</h2>

        <!-- short summary -->
        <div class="space-y-2" data-aos="fade-down" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
          <h3 class="text-xl font-semibold text-white">What I Do</h3>
          <p class="text-md text-gray-300 leading-relaxed">
            I build end-to-end solutions with an emphasis on performance and scalability.
          </p>

          <!-- main tech stack -->
          <h3 class="text-xl font-semibold text-white">Main Stack</h3>
          <p class="text-gray-300">JavaScript • HTML • CSS • Angular • TypeScript</p>
        </div>

        <!-- full stack section - details scroll anker point -->
        <div #fullStackSection>
        </div>

        <!-- expand button -->
        <button
          class="text-blue-300 border-2 border-blue-300 border-opacity-50 my-4 relative z-30 py-3 px-6 text-lg font-semibold hover:bg-blue-400 hover:bg-opacity-10"
          (click)="toggleSection('fullStackDetails')" aria-controls="fullStackDetailsContent">
          {{ isSectionVisible['fullStackDetails'] ? 'Collapse Details' : 'Expand Details' }}
        </button>

        <!-- expanded content - toggled visibility -->
        <div [ngClass]="{
            'fade-in': isSectionVisible['fullStackDetails'], 'fade-out': !isSectionVisible['fullStackDetails']
            }" class="space-y-6 transition-all">
          <div class="space-y-2">
            <h3 class="text-xl font-semibold text-white">Full-Stack Background</h3>
            <p class="text-md text-gray-300 leading-relaxed">
              I have been working in full-stack development for over 3 years, crafting applications with both front-end
              frameworks and back-end services.
            </p>
          </div>

          <!-- tech stack full-stack -->
          <div class="space-y-2">
            <h3 class="text-xl font-semibold text-white">Technologies</h3>

            <div class="space-y-6 text-white">
              <div *ngFor="let section of skillSections">
                <h4 class="font-semibold mb-2" [ngClass]="section.colorClass">{{ section.title }}</h4>

                <div class="flex flex-wrap gap-3">
                  <span *ngFor="let tech of section.items"
                    class="flex flex-col items-center justify-center px-4 py-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
                    <img [src]="'/icons/' + getIconFilename(tech)" [alt]="tech + ' logo'" class="w-6 h-6 tech-icon"
                      loading="lazy" />

                    <span>{{ tech }}</span>
                  </span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- front-end section -->
      <div class="relative isolate w-full lg:w-1/3 space-y-6">

        <!-- front end header - header scroll anker point -->
        <div #frontEndHeader>
        </div>
        <h2 class="text-4xl font-bold text-indigo-300">Front-End Development</h2>

        <!-- short summary -->
        <div class="space-y-2" data-aos="fade-down" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
          <h3 class="text-xl font-semibold text-white ">What I Do</h3>
          <p class="text-md text-gray-300 leading-relaxed">
            I build end-to-end solutions with an emphasis on performance and scalability.
          </p>

          <!-- main tech stack -->
          <h3 class="text-xl font-semibold text-white">Main Stack</h3>
          <p class="text-gray-300">JavaScript • HTML • CSS • Angular • TypeScript</p>
        </div>

        <!-- front end section - details scroll anker point -->
        <div #frontEndSection>
        </div>

        <!-- expand button -->
        <button
          class="text-indigo-300 border-2 border-indigo-300 border-opacity-50 my-4 relative z-30 py-3 px-6 text-lg font-semibold hover:bg-indigo-400 hover:bg-opacity-10"
          (click)="toggleSection('frontEndDetails')" aria-controls="frontEndDetailsContent">
          {{ isSectionVisible['frontEndDetails'] ? 'Collapse Details' : 'Expand Details' }}
        </button>

        <!-- expanded content - toggled visibility -->
        <div [ngClass]="{
            'fade-in': isSectionVisible['frontEndDetails'], 'fade-out': !isSectionVisible['frontEndDetails']
            }" class="space-y-6 transition-all">
          <div class="space-y-2">
            <h3 class="text-xl font-semibold text-white">Front-End Background</h3>
            <p class="text-md text-gray-300 leading-relaxed">
              I have been working in full-stack development for over 3 years, crafting applications with both front-end
              frameworks and back-end services.
            </p>
          </div>

          <!-- tech stack front end -->
          <div class="space-y-2">
            <h3 class="text-xl font-semibold text-white">Technologies</h3>

            <div class="space-y-6 text-white">
              <div *ngFor="let section of skillSections">
                <h4 class="font-semibold mb-2" [ngClass]="section.colorClass">{{ section.title }}</h4>

                <div class="flex flex-wrap gap-3">
                  <span *ngFor="let tech of section.items"
                    class="flex flex-col items-center justify-center px-4 py-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
                    <img [src]="'/icons/' + getIconFilename(tech)" [alt]="tech + ' logo'" class="w-6 h-6 tech-icon"
                      loading="lazy" />

                    <span>{{ tech }}</span>
                  </span>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>

      <!-- back-end section -->
      <div class="relative isolate w-full lg:w-1/3 space-y-6">

        <!-- back end header - header scroll anker point -->
        <div #backEndHeader></div>
        <h2 class="text-4xl font-bold text-[#AFB1F4]">Back-End Development</h2>

        <!-- short summary -->
        <div class="space-y-2" data-aos="fade-down" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
          <h3 class="text-xl font-semibold text-white">What I Do</h3>
          <p class="text-md text-gray-300 leading-relaxed">
            I build end-to-end solutions with an emphasis on performance and scalability.
          </p>

          <!-- main tech stack -->
          <h3 class="text-xl font-semibold text-white">Main Stack</h3>
          <p class="text-gray-300">JavaScript • HTML • CSS • Angular • TypeScript</p>
        </div>

        <!-- back end section - details scroll anker point -->
        <div #backEndSection>
        </div>

        <!-- expand button -->
        <button
          class="text-[#AFB1F4] border-2 border-[#AFB1F4]  border-opacity-50 my-4 relative z-30 py-3 px-6 text-lg font-semibold hover:bg-[#9497f0] hover:bg-opacity-10"
          (click)="toggleSection('backEndDetails')" aria-controls="backEndDetailsContent">
          {{ isSectionVisible['backEndDetails'] ? 'Collapse Details' : 'Expand Details' }}
        </button>

        <!-- expanded content - toggled visibility -->
        <div [ngClass]="{
            'fade-in': isSectionVisible['backEndDetails'], 'fade-out': !isSectionVisible['backEndDetails']
            }" class="space-y-6 transition-all">
          <div class="space-y-2">
            <h3 class="text-xl font-semibold text-white">Back-End Background</h3>
            <p class="text-md text-gray-300 leading-relaxed">
              I have been working in back-end development for over 3 years, crafting applications with both front-end
              frameworks and back-end services. My education and professional experiences have shaped my ability to
              handle both sides of development.
            </p>
          </div>

          <!-- tech stack back end -->
          <div class="space-y-2">
            <h3 class="text-xl font-semibold text-white">Technologies</h3>

            <div class="space-y-6 text-white">
              <div *ngFor="let section of skillSections">
                <h4 class="font-semibold mb-2" [ngClass]="section.colorClass">{{ section.title }}</h4>

                <div class="flex flex-wrap gap-3">
                  <span *ngFor="let tech of section.items"
                    class="flex flex-col items-center justify-center px-4 py-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
                    <img [src]="'/icons/' + getIconFilename(tech)" [alt]="tech + ' logo'" class="w-6 h-6 tech-icon"
                      loading="lazy" />

                    <span>{{ tech }}</span>
                  </span>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>

  </div>

</div>