<div class="max-w-6xl mx-auto px-0 sm:px-4 lg:px-0 xl:px-4 py-12" data-aos="fade-down" data-aos-duration="1000"
  data-aos-anchor-placement="top-bottom">
  <!-- skill tiles -->

  <div class="section-container max-w-6xl mx-auto px-0 sm:px-4 lg:px-0 xl:px-4 mb-4">
    <h2 class="text-3xl sm:text-4xl font-bold text-blue-300 mb-10 w-fit bg-[#243246]">Technologies & Outils</h2>

    <!-- two-column grid layout for boxes with gap-10 -->
    <!-- <div class="grid grid-cols-1 lg:grid-cols-2 gap-10 mb-6"> -->
    <div class="flex flex-wrap gap-10">

      <!-- skill box -->
      <div class="p-6 border border-blue-300 rounded-lg bg-blue-400 bg-opacity-10 backdrop-blur-sm max-w-full">
        <h3 class="text-2xl font-bold text-blue-300 mb-4">Back-End</h3>
        <div class="grid gap-4 grid-five">

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/java.svg" alt="Java logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>Java</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/springboot.svg" alt="Spring Boot logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>Spring Boot</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/restapi.svg" alt="REST API logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>REST API</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/springsecurity.svg" alt="Spring Security logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>Spring Security</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/spring.svg" alt="Spring logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>Spring Data</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/hibernate.svg" alt="Hibernate logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>Hibernate</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/apachemaven.svg" alt="Maven logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>Maven</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/jwt.svg" alt="Shield logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>JWT</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/swagger.svg" alt="Swagger logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>Swagger</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/javadoc.svg" alt="Document logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>Javadoc</span>
          </span>

        </div>
      </div>

      <!-- skill box -->
      <div class="hidden lg:block 2xl:hidden">
        <div
          class="p-6 border border-indigo-300 rounded-lg bg-indigo-400 bg-opacity-10 backdrop-blur-sm w-fit py-auto max-w-full">
          <h3 class="text-2xl font-bold text-indigo-300 mb-4 px-0 sm:px-2">Cloud</h3>
          <div class="grid gap-4 grid-cloud px-0 sm:px-2">

            <span
              class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
              <img src="/icons/heroku.svg" alt="TypeScript logo" loading="lazy" class="w-6 h-6 tech-icon" />
              <span class="lg:pb-4">Heroku</span>
            </span>

            <span
              class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
              <img src="/icons/netlify.svg" alt="TypeScript logo" loading="lazy" class="w-6 h-6 tech-icon" />
              <span>Netlify</span>
            </span>

          </div>
        </div>
      </div>

      <!-- skill box -->
      <div
        class="p-6 border border-indigo-300 rounded-lg bg-indigo-400 bg-opacity-10 backdrop-blur-sm w-fit max-w-full">
        <h3 class="text-2xl font-bold text-indigo-300 mb-4">Front-End</h3>
        <div class="grid gap-4 grid-five">

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/typescript.svg" alt="TypeScript logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>TypeScript</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/angular.svg" alt="Angular logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>Angular</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/rxjs.svg" alt="RxJS logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>RxJS</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/javascript.svg" alt="JavaScript logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>JavaScript</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/html5.svg" alt="HTML 5 logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>HTML 5</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/css.svg" alt="CSS 3 logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>CSS 3</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/bootstrap.svg" alt="Bootstrap logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>Bootstrap</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/tailwindcss.svg" alt="Tailwind CSS logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>Tailwind CSS</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/sass.svg" alt="SASS logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>SASS</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/angular.svg" alt="Angular logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>Angular Material</span>
          </span>
        </div>
      </div>

      <!-- skill box -->
      <div
        class="p-6 border border-indigo-300 rounded-lg bg-indigo-400 bg-opacity-10 backdrop-blur-sm w-fit max-w-full">
        <h3 class="text-2xl font-bold text-indigo-300 mb-4">Bases de données</h3>
        <div class="grid gap-4 grid-database">

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/sql.svg" alt="SQL logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>SQL</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/mysql.svg" alt="MySQL logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>MySQL</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/postgresql.svg" alt="PostgreSQL logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>PostgreSQL</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/h2database.svg" alt="H2 database logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>H2</span>
          </span>
        </div>
      </div>

      <!-- skill box -->
      <div class="p-6 border border-blue-300 rounded-lg bg-blue-400 bg-opacity-10 backdrop-blur-sm max-w-full">
        <h3 class="text-2xl font-bold text-blue-300 mb-4">Tests & Assurance Qualité</h3>
        <div class="grid gap-4 grid-four"
          style="grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); max-width: calc(4 * 80px + 4 * 1rem);">
          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/junit5.svg" alt="JUnit 5 logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>JUnit 5</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/mockito.png" alt="Mockito logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>Mockito</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/cypress.svg" alt="Cypress logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>Cypress</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/jest.svg" alt="Jest logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>Jest</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/selenium.svg" alt="Selenium logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>Selenium</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/postman.svg" alt="Postman logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>Postman</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/mockoon.svg" alt="Mockoon logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>Mockoon</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/istanbul.svg" alt="Istanbul logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>Istanbul</span>
          </span>
        </div>
      </div>

      <!-- skill box -->
      <div class="p-6 border border-[#AFB1F4] rounded-lg bg-[#AFB1F4] bg-opacity-10 backdrop-blur-sm max-w-full">
        <h3 class="text-2xl font-bold text-[#AFB1F4] mb-4">Architecture & Patterns</h3>
        <div class="grid gap-4"
          style="grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); max-width: calc(3 * 80px + 4 * 1rem);">

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/microservices.svg" alt="Microservices logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>Micro-<br>services</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/clientserver.svg" alt="Client-Server Architecture logo" loading="lazy"
              class="w-6 h-6 tech-icon" />
            <span>Client–Server</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/layered.svg" alt="Layered Architecture logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>Layered</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/modular.svg" alt="Modular Architecture logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>Modular</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/restful.svg" alt="RESTful Architecture logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>RESTful</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/uml.svg" alt="UML logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>UML</span>
          </span>

        </div>
      </div>

      <!-- skill box -->
      <div class="p-6 border border-indigo-300 rounded-lg bg-indigo-400 bg-opacity-10 backdrop-blur-sm max-w-full">
        <h3 class="text-2xl font-bold text-indigo-300 mb-4">Outils de développement & IDE</h3>
        <div class="grid gap-4 grid-four"
          style="grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); max-width: calc(4 * 80px + 4 * 1rem);">

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/git.svg" alt="TypeScript logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>Git</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/github.svg" alt="TypeScript logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>GitHub</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/bitbucket.svg" alt="TypeScript logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>BitBucket</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/jenkins.svg" alt="TypeScript logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>Jenkins</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/tortoisesvn.svg" alt="TortoiseSVN logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>TortoiseSVN</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/intellij.svg" alt="TypeScript logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>IntelliJ IDEA</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/eclipse.svg" alt="TypeScript logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>Eclipse</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/visualstudiocode.svg" alt="TypeScript logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>VS Code</span>
          </span>

        </div>
      </div>

      <!-- skill box -->
      <div class="p-6 border border-[#AFB1F4] rounded-lg bg-[#AFB1F4] bg-opacity-10 backdrop-blur-sm max-w-full">
        <h3 class="text-2xl font-bold text-[#AFB1F4] mb-4">Méthodologies & Collaboration</h3>
        <div class="grid gap-4 grid-four"
          style="grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); max-width: calc(4 * 80px + 4 * 1rem);">

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/jira.svg" alt="Jira logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>Jira</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/confluence.svg" alt="Confluence logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>Confluence</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/trello.svg" alt="Trello logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>Trello</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/scrum.svg" alt="Scrum logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>Scrum</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/kanban.svg" alt="Kanban logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>Kanban</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/gitflow.svg" alt="GitFlow logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>GitFlow</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/slack.svg" alt="Slack logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>Slack</span>
          </span>

          <span
            class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
            <img src="/icons/servicenow.svg" alt="ServiceNow logo" loading="lazy" class="w-6 h-6 tech-icon" />
            <span>ServiceNow</span>
          </span>

        </div>
      </div>

      <!-- skill box -->
      <div class="lg:hidden 2xl:block">
        <div
          class="p-6 border border-indigo-300 rounded-lg bg-indigo-400 bg-opacity-10 backdrop-blur-sm w-fit max-w-full">
          <h3 class="text-2xl font-bold text-indigo-300 mb-4 px-0 sm:px-2">Cloud</h3>
          <div class="grid gap-4 grid-cloud px-0 sm:px-2 lg:pb-4">

            <span
              class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
              <img src="/icons/heroku.svg" alt="TypeScript logo" loading="lazy" class="w-6 h-6 tech-icon" />
              <span>Heroku</span>
            </span>

            <span
              class="flex flex-col items-center justify-center px-4 py-2 my-2 min-h-[64px] w-[80px] bg-blue-400 bg-opacity-10 text-blue-100 text-xs font-medium border border-blue-300 border-opacity-50 rounded-md hover:shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 transition text-center space-y-1">
              <img src="/icons/netlify.svg" alt="TypeScript logo" loading="lazy" class="w-6 h-6 tech-icon" />
              <span>Netlify</span>
            </span>

          </div>
        </div>
      </div>

    </div>
  </div>