  .fade-in {
    opacity: 1 !important;
    max-height: 1000px;
    visibility: visible;
    pointer-events: none !important;
    transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out, visibility 0.5s ease-in-out;
    z-index: 5;
  }
  
  .fade-out {
    opacity: 0 !important;
    max-height: 0 !important;
    overflow: hidden;
    visibility: hidden !important;
    pointer-events: none !important;
    transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out, visibility 0.5s ease-in-out;
    z-index: 0;
  }

  