<app-navbar></app-navbar>

<section id="home">
  <app-home></app-home>
</section>

<!-- glass Sections -->
<section id="about" class="text-white bg-slate-800">
  <div class="container mx-auto px-4 py-16">
    <div class="backdrop-blur-md bg-slate-700 border border-white/20 rounded-2xl shadow-xl p-6 lg:p-10">
      <!-- consider to change bg color about and experience or just change about color to clash less -->
      <!-- bg-white/10 -->
      <app-about></app-about>
    </div>
  </div>
</section>

<section id="experience" class="text-white bg-slate-800">
  <div class="container mx-auto px-4 py-16">
    <div class="backdrop-blur-md bg-slateNight-100 border border-white/20 rounded-2xl shadow-xl p-6 lg:p-10">
      <!-- bg-white/10 -->
      <app-experience></app-experience>
    </div>
  </div>
</section>

<section id="skills" class="text-white bg-slate-800">
  <div class="container mx-auto px-4 py-16">
    <div class="backdrop-blur-md bg-slateNight-200 border border-white/20 rounded-2xl shadow-xl p-6 lg:p-10">
      <!-- bg-white/10 -->
      <app-skills></app-skills>
    </div>
  </div>
</section>

<section id="projects" class="text-white bg-slate-800">
  <div class="container mx-auto px-4 py-16">
    <div class="backdrop-blur-md bg-slateNight-300 border border-white/20 rounded-2xl shadow-xl p-6 lg:p-10">
      <!-- bg-white/10 -->
      <app-projects></app-projects>
    </div>
  </div>
</section>

<section id="contact" class="text-white flex flex-col bg-slate-800">
  <div class="flex-grow container mx-auto px-4 py-16">
    <div class="backdrop-blur-md bg-slateNight-100 border border-white/20 rounded-2xl shadow-xl p-6 lg:p-10">
      <!-- bg-white/10 -->
      <app-contact></app-contact>
    </div>
  </div>
  <app-footer></app-footer>
</section>