<app-navbar></app-navbar>

<section id="home" class="min-h-screen bg-gray-800 text-white flex items-center justify-center">
  <app-home></app-home>
</section>

<section id="about" class="min-h-screen bg-slate-700 text-white"> <!--  py-20 -->
  <app-about></app-about>
</section>

<section id="experience" class="min-h-screen bg-slateNight-100 py-10 text-white">
  <app-experience></app-experience>
</section>

<section id="skills" class="min-h-screen bg-slateNight-200 py-10 text-white">
  <app-skills></app-skills>
</section>

<section id="projects" class="min-h-screen bg-slateNight-300 py-10 text-white">
  <app-projects></app-projects>
</section>

<section id="contact" class="min-h-screen bg-slateNight-400 pt-10 text-white">
  <app-contact></app-contact>
</section>

<app-footer></app-footer>
