<!-- home section -->
<section class="section-container">
  <!-- content remains above the globe -->
  <div class="content-container">
    <div class="hidden sm:block">
      <h2 class="role-box">
        <span class="role-title">
          Développeuse Java
          <br class="block sm:hidden" />
          Back-End & Full‑Stack
        </span>
      </h2>
      <h1 class="title">
        <span class="name">
          Erika Belicová
        </span><br>
        <span class="tagline">
          Développeuse passionnée par la qualité et orientée détail.
        </span>
      </h1>
      <p class="flex justify-center">
        <span class="profile-description">
          J'ai 4 ans d'experience dans l’IT, dont 2,5 ans en développement.
          Je privilégie un code propre, des logiciels intuitifs, et soutiens les équipes par collaboration et mentorat.
        </span>
      </p>
      <a href="#" (click)="scrollToSection('about', $event)" class="group">
        <span class="button-span">
          En savoir plus
        </span>
        <svg class="w-4 h-4 ml-2 stroke-current" fill="none" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
        </svg>
      </a>
    </div>

    <!-- mobile-only simpler version -->
    <div class="block sm:hidden text-center space-y-4">
      <h2 class="mobile-role bg-slate-800/50">
        Développeuse Java<br>Back-End & Full‑Stack
      </h2>
      <h1 class="text-4xl font-bold bg-slate-800 text-blue-300">
        Erika Belicová
      </h1>
      <h2 class="mobile-title bg-slate-800/50 w-fit font-bold leading-tight">
        Passionnée par la qualité et orientée détail.
      </h2>
      <p class="mobile-text bg-slate-800/50 w-fit">
        J'ai 4 ans d'experience dans l’IT, dont 2,5 ans en développement.
      </p>
      <a href="#" (click)="scrollToSection('about', $event)" class="group bg-blue-400 bg-opacity-10">
        <span class="bg-[#25364E]">
          En savoir plus
        </span>
        <svg class=" w-4 h-4 ml-2 stroke-current" fill="none" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
        </svg>
      </a>
    </div>
  </div>
</section>