<!-- home section -->
<section class="section-container">
  <!-- content remains above the globe -->
  <div class="content-container">
    <h2 class="role-box">
      <span class="role-title">Développeuse Java Back-End & Full-Stack</span>
    </h2>
    <h1 class="title">
      <span class="name">
        Erika Belicová
      </span><br>
      <span class="tagline">
        Développeuse passionnée par la qualité et orientée détail.
      </span>
    </h1>
    <p>
      <span class="profile-description">
        J'ai 4 ans d'experience dans l’IT, dont 2,5 ans en développement.
        Je privilégie un code propre, des logiciels intuitifs, et soutiens les équipes par collaboration et mentorat.
      </span>
    </p>
    <a href="#" (click)="scrollToSection('about', $event)" class="group">
      <span class="button-span">
        En savoir plus
      </span>
      <svg class="w-4 h-4 ml-2 stroke-current" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
    </a>
  </div>
</section>